html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #000;
    align-items: center;
    justify-content: space-between;
}

video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}